<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>ReferenceData</td><td>LoginPageTest.userLoginTest()[pri:1, instance:com.CGIAdvantage.testcases.LoginPageTest@49b0b76]<br/>LoginPageTest.createDimensionsFund()[pri:2, instance:com.CGIAdvantage.testcases.LoginPageTest@49b0b76]<br/></td></tr>
</table>
