<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="646f8f">  <td>19/02/25 14:59:12</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.initBrowser()[pri:0, instance:com.CGIAdvantage.testcases.LoginPageTest@49b0b76]">&gt;&gt;initBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@875016237</td>   <td></td> </tr>
<tr bgcolor="646f8f">  <td>19/02/25 14:59:14</td>   <td>1665</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup()[pri:0, instance:com.CGIAdvantage.testcases.LoginPageTest@49b0b76]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@875016237</td>   <td></td> </tr>
<tr bgcolor="646f8f">  <td>19/02/25 14:59:58</td>   <td>46089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.userLoginTest()[pri:1, instance:com.CGIAdvantage.testcases.LoginPageTest@49b0b76]">userLoginTest</td> 
  <td>main@875016237</td>   <td></td> </tr>
<tr bgcolor="646f8f">  <td>19/02/25 15:00:17</td>   <td>65538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.CGIAdvantage.testcases.LoginPageTest@49b0b76]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@875016237</td>   <td></td> </tr>
<tr bgcolor="646f8f">  <td>19/02/25 15:00:18</td>   <td>66254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.createDimensionsFund()[pri:2, instance:com.CGIAdvantage.testcases.LoginPageTest@49b0b76]">createDimensionsFund</td> 
  <td>main@875016237</td>   <td></td> </tr>
<tr bgcolor="646f8f">  <td>19/02/25 15:00:32</td>   <td>80120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.CGIAdvantage.testcases.LoginPageTest@49b0b76]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@875016237</td>   <td></td> </tr>
<tr bgcolor="646f8f">  <td>19/02/25 15:00:33</td>   <td>80806</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.publishHTMLReports()[pri:0, instance:com.CGIAdvantage.testcases.LoginPageTest@49b0b76]">&lt;&lt;publishHTMLReports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@875016237</td>   <td></td> </tr>
</table>
