<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="beef9d">  <td>18/12/01 11:38:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup()[pri:0, instance:com.CGIAdvantage.testcases.LoginPageTest@57baeedf]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1440047379</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/12/01 11:38:26</td>   <td>8260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.userLoginTest()[pri:0, instance:com.CGIAdvantage.testcases.LoginPageTest@57baeedf]">userLoginTest</td> 
  <td>main@1440047379</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/12/01 11:38:56</td>   <td>38363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.CGIAdvantage.testcases.LoginPageTest@57baeedf]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1440047379</td>   <td></td> </tr>
</table>
